@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/MaisonNeueBook/font.woff2') format('woff2'),
    url('/fonts/MaisonNeueBook/font.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/fonts/MaisonNeueBold/font.woff2') format('woff2'),
    url('/fonts/MaisonNeueBold/font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Argent CF';
  src: url('/fonts/Argent-Regular.woff2') format('woff2'),
    url('/fonts/Argent-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Argent CF';
  src: url('/fonts/Argent-RegularItalic.woff2') format('woff2'),
    url('/fonts/Argent-RegularItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

html {
  background: white;
}

body {
  background: white;
}

* {
  box-sizing: border-box;
}

:root {
  --green: #97b091;
  --black: #000000;
  --light-grey: #ededed;
  --grey: #d2d2d2;
  --blue: #469ae8;
  --yellow-dark: #525252;
  --yellow: #ffc04d;
  --font-family-sans-serif: 'Maison Neue', sans-serif;
  --font-family-serif: 'Argent CF', 'Georgia', serif;
  --border-radius: 22px;
  --page-side-padding: 50px;
  --yarl__color_backdrop: rgba(255, 255, 255, 0.568);
  --yarl__thumbnails_thumbnail_border: 2px solid rgba(0, 0, 0, 0.113);
  --yarl__thumbnails_thumbnail_active_border_color: var(--blue);
}

.yarl__slide img {
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(14, 22, 32, 0.228),
    0 20px 18px -20px rgba(14, 22, 32, 0.228);
}

.yarl__thumbnails_thumbnail {
  background: transparent !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.yarl__container {
  overflow: visible !important;
}

.yarl__thumbnails_wrapper {
  z-index: 10;
}

.yarl__button {
  filter: none !important;
  color: black !important;
}

.yarl__portal {
  backdrop-filter: blur(20px);
}

.grecaptcha-badge {
  bottom: -200px !important;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a,
p,
li {
  letter-spacing: 0.02em;
  font-family: var(--font-family-sans-serif);
  color: var(--black);
}

body {
  margin: 0;
}

p {
  margin: 16px 0px;
  position: relative;
  font-size: 18px;
}

h1 {
  margin: 0;
  font-family: var(--font-family-serif);
  font-weight: 600;
  font-size: clamp(32px, 4vw, 70px);
  font-style: normal;
}

@media (max-width: 900px) {
  h1 {
    font-size: clamp(32px, 6vw, 70px);
  }
}

h2 {
  font-family: var(--font-family-serif);
  font-weight: 600;
  font-size: 50px;
  font-style: normal;
  margin: 0;
}

h3 {
  font-family: var(--font-family-serif);
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  margin: 0;
}

h4 {
  font-family: var(--font-family-serif);
  font-weight: 600;
  font-size: 27px;
  font-style: normal;
  margin: 0;
}

@media (max-width: 900px) {
  :root {
    --page-side-padding: 45px;
    --border-radius: 18px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 26px;
  }
  p {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  :root {
    --page-side-padding: 40px;
  }
}

@media (max-width: 600px) {
  :root {
    --page-side-padding: 36px;
  }
  h2 {
    font-size: 37px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 23px;
  }
  p {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  :root {
    --page-side-padding: 20px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 19px;
  }
  p {
    font-size: 15px;
  }
}

.mobile-menu {
  pointer-events: none;
  margin: 0;
  padding: var(--page-side-padding);
  position: fixed;
  top: 0;
  z-index: 998;
  left: 0;
  width: 100%;
  padding-top: 25px;
  z-index: 10;
}

.mobile-menu.open {
  pointer-events: auto;
}

.mobile-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 3px;
  display: flex;
  align-items: center;
}

.mobile-menu li a {
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  padding: 12px 25px;
}

.mobile-menu-bg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 10;
}

.mobile-menu-bg.open {
  pointer-events: auto;
}

li.menu-logo {
  margin-left: 13px;
  margin-bottom: 20px;
  width: 202px;
  position: relative;
  aspect-ratio: 282 / 40;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
